

<style>
 /* NAvbar        */
        
 ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
 }
 
 li {
 float: left;
 }
 
 li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 }
 
 /* Change the link color to #111 (black) on hover */
 li a:hover {
 background-color: #111;
 }
 img{
     width:100px;
     height:100px;
     padding:90px 60px;
     
 }
    </style> 

<meta charset="utf-8">
{% comment %} <link rel="stylesheet" herf="{% static "CSS/index.css" %}"> {% endcomment %}
<title>Index</title>
</head>
<body>
    
    <!--Navbar-->
<ul>
  <li><a href="\index">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="\logout">Logout</a></li>
  {% else %} 
  <li><a href="\login">Login</a></li>
  {% endif %}
  <li><a href="\registar">Ragistar</a></li>
  <li><a href="\answer">Answer</a></li>

</ul>

{% block body_block %}{% endblock body_block %}