<html>
{% extends 'base.html' %}
{% block body_block %}
<style>
        
  /* NAvbar        */
         
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
  
  li {
  float: left;
  }
  
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
  background-color: #111;
  }
  img{
      width:100px;
      height:100px;
      padding:90px 60px;
      
  }
</style> 
 
 
 <title>Index</title>
 </head>
 <body>
 
  
 
   
 <a href="\image">
 <img src="https://static.thenounproject.com/png/1156518-200.png" alt="Image " class="img-thumbnail">
 </a>
 
   <a href="\voice">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBjFntk3fPK9wD0UpR6r-s_WJ_koUmYnkGscyVS7PgjySaTfdr1z4Tihmhse7GE5Q2V1U&usqp=CAU"
 class="img-thumbnail" alt="Voice"></a>
 
 <a href="\whatsapp">
   <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" class="img-thumbnail" alt="Whatsapp">
 </a>
 
 </body>
{% endblock  %}

</html>